
/*-----------common css-----------*/
.common-margin-left{
    margin-left: 5px ;
}
.common-fl{
    float: left;
}
.common-fr{
    float: right;
}
.common-lg-fs{
    font-size: 15px !important;
    color: #000000 !important;
}
.common-mg{
    margin: 0 50px 0 5px;
}
.common-select{
    width: 270px !important;
}

/*-------------login-------------*/
.login-warning{
    color: #FF0033 !important;
    /*margin: 4px !important;*/
    text-align: center;
}

.admin-register{
    background: rgba(255,255,255,0.8);
    border: 1px solid #dedede;
    border-radius: 8px;
    padding-bottom: 50px;
    padding-top: 10px;
}
.admin-register p{
    text-align: center;
    margin: 20px auto;
}
.admin-register label{
    display: inline-block;
    width: 80px;
    text-align: right;
    letter-spacing:3px;
    font-size: 13px;
    font-weight: bold;
}
.register-title{
    text-align: center;
    font-weight: 300;
    height: 40px;
    line-height: 40px;
    margin: 5px auto;
    color: #0088cc;
    font-size: 20px;
}

/*--------------other--------------*/
.news-border{
    border: 1px solid rgb(204, 204, 204);
    color: rgb(51, 51, 51);
    border-radius:3px;
    padding-left: 10px;
    margin-bottom: 50px !important;
}
.news-border p{
    margin: 3px 0 !important;
}