<div class="span3">
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header common-lg-fs"><i class="icon-user"></i> 用户管理</li>
            <li><a href="users.html">用户列表</a></li>
            <li><a href="users.html">账号管理</a></li>
            <li class="nav-header common-lg-fs"><i class="icon-film"></i> 素材管理</li>
            <li id="media"><a href="/admin/wx/media/list">素材列表</a></li>
            <li id="article"><a href="/admin/wx/article/list">图文列表</a></li>
            <li id="temp_media"><a href="/admin/wx/temp/media/add">新增临时素材</a></li>
            <li><a href="users.html">新增永久图文素材</a></li>
            <li id="permanent_media"><a href="/admin/wx/per/media/add">新增永久其他素材</a></li>
            <li class="nav-header common-lg-fs"><i class="icon-picture"></i> 图片管理</li>
            <li id="img"><a href="/admin/wx/img/list">图文图片列表</a></li>
            <li class="nav-header common-lg-fs"><i class="icon-th-large"></i> 菜单管理</li>
            <li id="menu"><a href="/admin/wx/menu/list">菜单列表</a></li>
            <li class="nav-header common-lg-fs"><i class="icon-comment"></i> 消息管理</li>
            <li id="reply"><a href="/admin/wx/reply/list">回复配置列表</a></li>
            <li id="news_message"><a href="/admin/wx/news/message">群发图文消息</a></li>
            <li id="other_message"><a href="/admin/wx/reply/list">群发其他消息</a></li>
            <li class="nav-header common-lg-fs"><i class="icon-tags"></i> 模板管理</li>
            <li><a href="">模板配置</a></li>
        </ul>
    </div>
</div>